<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>employeeInfo</title>
</head>
<body>
	<h2>게시글 단건조회</h2>
	<table>
		<tr>
			<th>board_no</th>
			<th>title</th>
			<th>content</th>
			<th>writer</th>
			<th>write_date</th>
			<th>click_cnt</th>
			<th>image</th>
		</tr>
		<tr>
			<td th:text="${boardInfo.boardNo}"></td>
			<td th:text="${boardInfo.title}"></td>
			<td th:text="${boardInfo.content}"></td>
			<td th:text="${boardInfo.writer}"></td>
			<td th:text="${#dates.format(boardInfo.writeDate, 'yyyy.MM.dd')}"></td>
			<td th:text="${boardInfo.clickCnt}"></td>
			<td th:text="${boardInfo.image}"></td>
		</tr>
	</table>
	<a th:href="@{/board/update/{boardNo}(boardNo=${boardInfo.boardNo})}"><button>수정</button></a>
	<!-- <button th:onclick="|location.href='@{`/board/update/${boardInfo.boardNo}`}'|">수정</button> -->
</body>
</html>

<style>
table, th, td {
	border: 2px solid #ccc;
	border-collapse: collapse;
	padding: 5px;
}
th {
	background: #eee
}

</style>