<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>tbl_reply</title>
</head>
<body>
	<h3>댓글목록</h3>
 	<table>
		<thead>
			<tr>
				<th>NO</th>
				<th>글번호</th>
				<th>댓글내용</th>
				<th>작성자</th>
				<th>작성일자</th>
				<th>수정일자</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody id="replylist">
			<!-- <tr>
				<td>1</td>
				<td>1</td>
				<td>첫번째</td>
				<td>홍길동</td>
				<td>2024-03-18</td>
				<td>2024-03-18</td>
			</tr> -->
		</tbody>
	</table>
	

	<!-- 페이징 -->
	<div id="nav"></div>
	
	<br><br>
	
	<h3>댓글등록/조회/수정</h3>
	<!-- ajax는 form action속성 사용 X & button type="button"으로(아니면 기본 submit이라 실행X) -->
	<form method="post" name="frm"> 
		글번호 <input name="bno"><br><br>
		작성자 <input name="replyer"><br><br>
		<textarea name="reply" cols="30" rows="5"></textarea><br><br>
		<button type="button" onclick="saveReq()">등록</button>
		<button type="button" onclick="updateReq()">수정</button>
	</form>
 
 
<script>
//댓글리스트 요청
listReq(1);

//댓글리스트 함수로 (등록삭제 등 처리 후 append로 후처리 못하겠으면 리스트만 다시 재로드)
function listReq(p) {
	//replylist.innerHTML = "";
	//아직bno 연결X
	let bno = 1;
	//fetch("/replyList?bno="+1)
	fetch(`/replyList?bno=${bno}&page=${p}`)
	.then(res => res.json())
	.then(res => listRes(res));
}

//댓글리스트 응답
function listRes(res) {
	console.log(res);
	
	let i=0; //NO.
	replylist.innerHTML = '';
	
	for(obj of res.list) {
		//table body 삽입
		 replylist.innerHTML += makeTr(++i, obj);
	}
	
	//페이징 처리
	nav.innerHTML = makePage(res.paging)
}
//+댓글리스트 응답의 for문 안에 있던 tr,td태그 별도의 함수로 생성
function makeTr(i, obj) {
	let newTag = 
		`<tr>
			<td>${i}</td>
			<td>${obj.bno}</td>
			<td onclick="infoReq(${obj.rno})">${obj.reply}</td>
			<td>${obj.replyer}</td>
			<td>${dateFormat(obj.replyDate)}</td>
			<td>${dateFormat(obj.updateDate)}</td>
			<td><button type="button" onclick="deleteReq(${obj.rno})">삭제</button></td>
		 </tr>`
	return newTag;
}
//페이징
function makePage(paging) {
	let tag = `<nav aria-label="...">
		  <ul id="ust">`
	//이전버튼
	if(paging.startPage > 1) {
		tag += `<li> 
	        <a class="page-link" href="javascript:gopage(${paging.startPage-1})">Previous</a></li>`
	}
	//페이지번호	  
	for(num=paging.startPage; num <= paging.endPage; num++) { //num: 페이지번호
		tag += `<li>
	        <a class="page-link" href="javascript:gopage(${num})">${num}</a></li>`
	}
	//다음버튼
	if(paging.endPage < paging.lastPage) { // <= 에서 고쳐서 Next안보임
		tag += `<li>
	        <a class="page-link" href="javascript:gopage(${paging.endPage+1})">Next</a></li>`
	}
	tag += `</ul>
		</nav>`
	return tag;
}
function gopage(p){
	listReq(p)
}


//날짜format
function dateFormat(dt) {
		//console.log(dt);
		let date = new Date(dt);
		
		let year = date.getFullYear();
		let month = ( 1 + date.getMonth() );
		let day = date.getDate();
		
		month = month >= 10 ? month : '0' + month; //10미만일 시 앞에 0을 붙혀서 저장
		day = day >= 10 ? day : '0' + day;
		
		return `${year}.${month}.${day}`;
}

//=========================================================

//등록요청
function saveReq() {
	const bno = frm.bno.value;
	const reply = frm.reply.value;
	const replyer = frm.replyer.value;
	
	let param = {bno, reply, replyer}
	fetch("/reply", { 
		method : "post",
		headers: {
			"Content-Type": "application/json",
		    },
		body : JSON.stringify(param)
		
	})
	.then(res => res.json())
	.then(res => saveRes(res))
}

//등록응답
function saveRes(res) {
	frm.bno.value = '';
	frm.reply.value = '';
	frm.replyer.value = '';
	listReq(1);
}

//======================================================
//상세조회 요청
function infoReq(rno) {
	fetch(`/reply/${rno}`)
	.then(res => res.json())
	.then(res => infoRes(res))
}

//상세조회 응답
function infoRes(res) {
	//input태그에 해당 사원 정보 표시
	frm.bno.value = res.bno;
	frm.reply.value = res.reply;
	frm.replyer.value = res.replyer;
}

//======================================================
//수정요청
function updateReq() {
	let param = frm.reply.value
	fetch("/reply/update", { 
		method : "post",
		headers: {
			"Content-Type": "application/json",
		    },
		body : JSON.stringify(param)
		
	})
	.then(res => res.json())
	.then(res => saveRes(res))
}

//수정응답
function updateRes(res) {
	frm.bno.value = '';
	frm.reply.value = '';
	frm.replyer.value = '';
	listReq(1);
}	
	

//======================================================
//삭제 요청
function deleteReq(rno) {
	console.log(rno);
	fetch(`/reply/del/${rno}`)
	.then(res => res.json())
	.then(res => deleteRes(res))
}

//삭제 응답
function deleteRes(res) {
	listReq(1);
}

</script>
 
 

</body>
</html>

<style>
table, th, td {
	border: 2px solid #ccc;
	border-collapse: collapse;
	padding: 5px;
}
th {
	background: #eee
}

/* 페이징번호 */
ul li {
	list-style-type: none;
	float: left;
	padding: 2px;
}


</style>