<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="~{layout/layout}"><!-- ~{폴더명/파일명} (.html확장자는 생략 가능)-->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.firstRow { color: yellowgreen; }
	.oddRow { color: pink; }
	.backColor { background-color: #eee}
</style>
</head>
<body>
 <div layout:fragment="content">
	사원수: <span th:text="${#lists.size(empList)}">10</span>명<br>
	회사명: <span th:utext="${companyName}"></span><!--/* th:utext 사용 시 태그 그대로 보임 (EmpController companyName참고) */-->
	<table>
		<tr>
			<th>NO.</th>
			<th>employee_id</th>
<!--/* 			<th>first_name</th>
			<th>last_name</th> */-->
			<th>NAME</th>
			<th>hire_date</th>
			<th>salary</th>
			<th>보너스</th>
			<th>수정/삭제</th>
		</tr>
		<!--/* 앞에 th: 붙이면 thymeleaf사용  */-->
		<tr th:each="emp,stat : ${empList}" th:class="${stat.first? 'firstRow' : stat.odd ? 'oddRow' : _}"><!-- 언더바_: 아무 것도 없음을 의미 +아래 기존 class에 추가할 땐 th:classappend="" 사용 -->
			<td th:text="${stat.count}" class="backColor" th:classappend="${stat.first? 'firstRow' : stat.odd ? 'oddRow' : _}">1</td>  <!-- 루프변수Stat으로 하는 게 편함 (ex.위에 emp : ${empList}면 아래엔 ${empStat.count}) -->
			<td th:text="${emp.employeeId}">100</td>
			
<!--/* 			<td th:text="${emp.firstName}">길동</td>
			<td th:text="${emp.lastName}">제임스</td> */-->
			
			<!-- ${} 여러 개 같이 사용 -->
<!--/* 			<td th:text="${emp.firstName} + ' ' + ${emp.lastName}">길동</td> */-->
<!--/*			<td th:text="${emp.firstName} + ' ' + ${emp.lastName}">길동</td> */-->
			<td th:text="|${emp.firstName} ${emp.lastName}|">길동</td>
<!--/* 			<td> [[ ${emp.firstName}]] []</td> */-->
			
			<!-- Format (Date, Number 등) -->
			<td th:text="${#dates.format(emp.hireDate,'yyyy-MM-dd')}">2010-10-10</td>
			<!--/* <td th:text="${#numbers.formatInteger(emp.salary, 3, 'COMMA')}">2000</td> */-->
			<td th:text="${#numbers.formatCurrency(emp.salary)}">2000</td>
			<td> <button th:if="${emp.salary < 10000}">신청</button>
			 	 <button th:unless="${emp.salary < 10000}">미신청</button> 
			</td>
			
			<!-- URL -->
			<td><!-- localhost:8081/update/100 -->
				<a th:href="@{/update/{id}(id=${emp.employeeId})}">수정</a><!-- url만들 땐 $아니고 @{}  -->
				<!-- localhost:8081/delete?/employeeId=100 --><!-- EmpController에서 넘겨준 파라미터랑 같아야 됨 -->
				<a th:href="@{/delete(employeeId=${emp.employeeId},name=${emp.firstName})}">삭제</a>
			</td>
		</tr>
	</table>
	
	
	<!-- Template -->
<!-- 	<div class="footerSector" th:insert="~{footer}">여기에 삽입</div> --><!--템플릿 삽입 th:insert="~{폴더명/footer}" -->
<!-- 		<div class="footerSector" th:insert="~{footer :: addr}">여기에 삽입</div> -->
		<div class="footerSector" th:replace="~{footer :: addr}">여기에 삽입</div>
		
 </div>		
	<script th:inline="javascript">
		let emplist = [[${empList}]]
		console.log(emplist[0].firstName)
	</script>

</body>
</html>