<!DOCTYPE html>
<!-- https://spring.io/guides/gs/securing-web -->
<!-- 로그인페이지 -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <!-- 커스터마이징했으면 WebSecurityConfig에서 변경된 걸 알려주기 (참고) -->
        <!-- <form th:action="@{/login}" method="post"> -->
        <form th:action="@{/userlogin}" method="post">
            <div><label> User Name : <input type="text" name="userid"/> </label></div> <!-- name="username" -->
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>